.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    min-height: 600px;
    background:linear-gradient(rgba(192,192,192,0.7),rgba(255,255,255,0.8));
    text-align: center;
    /* margin: 128px auto; */
    border-radius: 10px;
    padding-bottom: 20px;
  }
  
  .todo-title{
    
    color: white;
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin-bottom: 10px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 20px;
  }
  
  .todo-input {
    padding: 14px 20px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #000000;
    outline: none;
    width: 40%;
    background: transparent;
    color: rgb(0, 0, 0);
  }
  
  .todo-input::placeholder {
    color: black;
  }
  
  .todo-button {
    padding: 7 0 7 0px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: black;
    width:80px;
    height:50px;
    color: #fff;
    text-align: center;
  }
  
  .todo-input.edit {
    border: 2px solid  rgb(57, 72, 103) ;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgb(57, 72, 103) 0%,
      rgb(20, 39, 78) 100%
    );
    padding: 10px 15px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
        90deg,
        rgb(57, 72, 103) 0%,
      rgb(20, 39, 78) 100%
      );
  
    padding: 16px;
    border-radius: 5px;
    width: 50%;
  }
  
  .todo-row:nth-child(2n + 1) {
    background: linear-gradient(
      90deg,
      rgb(19, 59, 92) 0%,
      rgb(30, 95, 116) 100%
    );
  }
  
  /* .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  } */
  
  /* .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  } */
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }