
  .tem-container {
    font: 20px sans-serif;
    font-weight: bold;
    height: 500px;
    width: 300px;
    background: linear-gradient(
      
      #4B79A1,
      #283E51
  );
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
  }
  
  .label-tem{
    color: #fff;
    font: 30px sans-serif;
    font-weight: bold;
    /* border: 3px solid #c9c2c5; */
    background-color:#181818;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .temperature-display-container,.set-tem-container {
    /* border: 3px solid #c9c2c5;
    border-radius: 10px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 40%;
    margin: auto;
    margin-top: 30px;
  }
  .button-tem-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .temperature-set-display,.temperature-value-display {
    display: flex;
    border-radius: 50%;
    color: #ffffff;
    height: 100px;
    width: 100px;
    margin-left: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 3px #ffffff solid;
    transition: background 0.5s;
  }
  
.btn-increase,.btn-decrease {

    border-radius: 100px;
    height: 60px;
    width: 60px;
    font-size: 32px;
    color: #ffffff;
    background: rgb(105, 104, 104);
    border: 2px #ffffff solid;
  }
  
.btn-increase:hover,.btn-decrease:hover {
    background: rgb(184, 184, 184);
    cursor: pointer;
  }
  
.btn-increase:focus,.btn-decrease:focus {
    outline: 0;
  }
  
 
  
  .normal {
    background: #14A76C;
  }
  
  .cold {
    background: #035aa6;
  }
  
  .hot {
    background: #e53935;
  }